/* -- RESET -- */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COLOR VARIABLES */
:root {
  --color-text: #fff;
  --color-links: #b38b8b;
  --color-bg: #292020;
}

/* DARK / LIGHT MODES */
.logo-light {
    display: none
}

@media (prefers-color-scheme: light) {
    :root {
          --color-text: #292020;
          --color-links: #b38b8b;
          --color-bg: #fff;
    }

    .logo-dark {
        display: none;
    }

    .logo-light {
        display: block;
    }
}

/* FONTS */
@font-face {
  font-family: "Rosario";
  src: url("/fonts/Rosario-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rosario";
  src: url("/fonts/Rosario-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Rosario";
  src: url("/fonts/Rosario-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

/* CSS CUSTOM RULES */

html {
    font-size: 16px;
    color-scheme: light dark;
}

body {
    font-family: Rosario, "Open Sans", sans-serif;
    color: var(--color-text);
    background-color: var(--color-bg);
    line-height: 1.5;
    min-height: 100vh;

    width: min(100%, 768px);
    margin-inline: auto;
    padding-inline: 16px;
}

h1,
h2,
h3 {
    font-family: Montserrat, "DejaVu Sans", sans-serif;
    padding-bottom: 1rem;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

a,
a:visited {
    color: var(--color-links);
    text-decoration: none;
}

a:hover {
    font-weight: bolder;
}

header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-right h2,
.header-right h3
{
    font-size: 1rem;
    font-weight: Bold;
}

nav {
    display: flex;
    justify-content: space-between;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar,
.external-sites,
footer > ul {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-logo {
    padding: 1rem;
}

.header-title {
    padding-top: 1rem;
}

main {
    padding: 1rem;
}

p {
    margin-bottom: 1rem;
}

footer {
  padding: 2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .header-top {
        flex-wrap: wrap;
    }

    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 8px;
    }

    .navbar.active {
        display: flex;
    }

    .external-sites {
        margin-left: auto;
    }
}